<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Government Schemes{%endblock%}</title>
</head>
<body>
    <header>
        <h1>Goverment Schemes</h1>
        <nav>
            <ul>
                <li><a href="{% url 'scheme_list' %}">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>